################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QrCodeGenerator/v17
/QrCodeGenerator/bin/Debug/net5.0
/QrCodeGenerator/obj
/QrCodeGenerator/QrCodeGenerator.csproj.user
